<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Members</title>
    <link rel="stylesheet" href="/static/assets/css/style.css">
    <script type="module" src="https://cdn.jsdelivr.net/npm/ionicons@latest/dist/ionicons/ionicons.esm.js"></script>
</head>
<body>

<div class="appHeader">
    <div class="left">
        <a href="{% url 'dashboard' %}" class="headerButton goBack">
            <ion-icon name="chevron-back-outline"></ion-icon>
        </a>
    </div>
    <div class="pageTitle">Members</div>
    <div class="right"></div>
</div>

<div id="appCapsule">

    {% if error %}
        <div class="section mt-2">
            <div class="alert alert-danger">{{ error }}</div>
        </div>
    {% else %}
        <div class="section mt-2">
            <div class="section-title">Member List</div>
            <div class="transactions">
                {% for m in members %}
                <div class="item">
                    <div class="detail">
                        <img src="/static/assets/img/sample/avatar/avatar1.jpg" class="image-block imaged w48" alt="img">
                        <div>
                            <strong>{{ m.UserFullName }}</strong>
                            <p>{{ m.UserMobileNo }}</p>
                            <strong>{{ m.UserType }}</strong>
                        </div>
                    </div>
                    <div class="right">
                        <div class="price">{{ m.mobile }}</div>
                        <div class="price text-muted">{{ m.email }}</div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

</div>

</body>
</html>
