<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MY-QR</title>
    <link rel="icon" type="image/png" href="{% static 'assets/img/favicon.png' %}" sizes="32x32">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    {% comment %} <link rel="manifest" href="{% static 'assets/__manifest.json' %}"> {% endcomment %}
    {% comment %} <link rel="manifest" href="/GoldVault/manifest.json/{{request.session.app_data.app_code}}"> {% endcomment %}
    <link rel="manifest" href="{% url 'manifest' request.session.ClientCode %}">

    <script type="module" src="https://cdn.jsdelivr.net/npm/ionicons@latest/dist/ionicons/ionicons.esm.js"></script>
    <script src="{% static 'assets/js/loader.js' %}"></script>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
</head>
<body>
<!-- loader -->
<div id="loader" style="display: none;">
    <img src="{% static 'assets/img/loading-icon.png' %}" alt="icon" class="loading-icon">
</div>
<div class="appHeader">
    <div class="left">
        <a href="{% url 'dashboard' %}" class="headerButton goBack">
            <ion-icon name="chevron-back-outline"></ion-icon>
        </a>
    </div>
    <div class="pageTitle" style="font-family:Poppins,sans-serif;">MY-QR</div>
    <div class="right"></div>
</div>

<div id="appCapsule">
    {% if error %}
        <div class="section mt-2">
            <div class="alert alert-danger">{{ error }}</div>
        </div>
    {% else %}
        <div class="section mt-2 text-center">
            {% for image_url in image_urls %}
                <img src="{% static image_url %}" 
                     alt="QR PDF Page {{ forloop.counter }}" 
                     style="max-width:100%; border:1px solid #ccc; border-radius:8px; margin-bottom:10px;">
            {% endfor %}
            <!-- <div class="mt-3">
                <a href="{% static pdf_url %}" class="btn btn-primary" style="background: linear-gradient(95.25deg, #edc88f, #edc88f 104.24%) !important;color: #000 !important;border-color: #edc88f !important;font-weight: bold; " download>
                    Download PDF
                </a>
            </div> -->

            <div class="mt-3 d-flex flex-wrap gap-2">
                <!-- Download PDF -->
                <a href="{% static pdf_url %}" 
                class="btn btn-primary flex-fill"
                style="background: linear-gradient(95.25deg, #edc88f, #edc88f 104.24%) !important;
                        color: #000 !important;
                        border-color: #edc88f !important;
                        font-weight: bold;" 
                download>
                    Download PDF
                </a>

                <!-- Regenerate PDF -->
                <a href="{% url 'regenerate_pdf' %}" 
                class="btn btn-warning flex-fill"
                style="background: linear-gradient(95.25deg, #f7d98c, #f7d98c 104.24%) !important;
                        color: #000 !important;
                        border-color: #f7d98c !important;
                        font-weight: bold;"
                onclick="
                document.getElementById('loader').style.display='flex'; 
                setTimeout(() => { 
                    document.getElementById('loader').style.display='none'; 
                }, 8000);">
                    Regenerate PDF
                </a>
            </div>

        </div>
    {% endif %}
</div>


{% if messages %}
    <script>
        {% for message in messages %}
            var msg = "{{ message|escapejs }}";
            var tag = "{{ message.tags }}";

            {% comment %} console.log(msg);
            console.log(tag); {% endcomment %}
            var alertType = "info";
            var alertTitle = "Info"; 

            if (tag.includes("success")) {
                alertType = "success";
                alertTitle = "Success!";
            } else if (tag.includes("danger")) {
                alertType = "error";
                alertTitle = "Error!";
            }

            swal({
                title: alertTitle,
                text: msg,
                type: alertType,
                //timer: 5000,
                showConfirmButton: true
            });
        {% endfor %}
    </script>
{% endif %}
</body>
</html>